<div class="top_phone_number mini-cart" id="cart">
  <a data-toggle="dropdown" data-loading-text="Đang tải" class="basket dropdown-toggle">
    <div class="phone-img">
      <i class="fa fa-shopping-cart"></i>
    </div>
    <div class="text" id="cart-total">
      <p class="phone-box">
        <strong>
          <span>0 sản phẩm </span>
        </strong>
      </p>
      <p class="email-box">
        <strong>
          <span> 0đ</span>
        </strong>
      </p>
    </div>
  </a>

  <div class="top-cart-content arrow_box dropdown-menu" style="display: none;">
    <ul id="cart-sidebar" class="mini-products-list">
      <li class="item">
        <p class="text-center" style="padding: 15px; font-size: 16px;">Giỏ hàng của bạn trống!</p>
      </li>
    </ul>
  </div>
</div>